#color-palette {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
}
.color {
  display: inline;
  width: 24%;
  height: 100%;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  float: left;
  border-radius: 30px;
}
header {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#pixel-board {
  margin-left: auto;
  margin-right: auto;
  width: 210px;
  height: 210px;
  margin-top: 20px;
}
.pixel {
  width: 40px;
  height: 40px;
  float: left;
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}
